.container_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  float: right;
  width: 80%;
}

.message{
  position: relative;
  height: 150px;
  width: 100%;
  text-align: center;
  top: 150px;
}

